.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-content {
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 2rem;
    width: 40rem;
    position: relative;

    .close-button {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
      color: #171718;
      cursor: pointer;
    }

    .modal-actions {
      display: flow-root;
      margin-top: 2rem;

      .talk-to-expert {
        display: block;
        color: #171718;
        font-size: inherit;
        text-decoration: underline;
        cursor: pointer;
        text-transform: capitalize;
        text-align: center;
        margin-top: 0.5rem;
        float: left;
      }

      .previous-button,
      .next-button {
        text-transform: capitalize;
        margin: 0 0.5rem;
        min-width: 10rem;
        color: #171718;
        text-align: center;
        background-color: #ffffff;
        border: 2px solid #171718;
        border-radius: .25rem;
        flex-direction: row;
        flex: 0 auto;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        font-weight: 600;
        line-height: 1.25;
        transition: all .2s;
        display: block;
        font-size: inherit;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.2s;
      }

      .previous-button {
        background-color: #171718;
        color: #fff;
        border: 2px solid #171718;
        float: right;
      }

      .next-button {
        background-color: #ffb93f;
        color: #171718;
        border: 2px solid #ffb93f;
        float: right;
      }

      .previous-button:hover {
        background-color: #fff;
        color: #171718;
      }

      .next-button:hover {
        background-color: #fff;
        color: #ffb93f;
      }

      .previous-button:disabled,
      .next-button:disabled {
        background-color: #ffffff;
        border: 2px solid #171718;
        color: #171718;
        cursor: auto;
      }
    }
  }
}
