<div class="modal">
  <div class="modal-content">
    <div>
      <div *ngFor="let step of steps; let index = index">
        <div *ngIf="index + 1 === currentStep">
          <app-modal-step
            [step]="step"
            [index]="index"
          >
          </app-modal-step>
        </div>
      </div>
    </div>
    <div class="modal-actions">
      <button class="previous-button" (click)="previousStep()" *ngIf="currentStep > 1">Previous</button>
      <button class="next-button" [disabled]="!hasSelection" (click)="nextStep()" *ngIf="currentStep < steps.length">Next</button>
    </div>
  </div>
</div>

