.step-container {
  width: 100%;

  .step-header {
    text-align: left;
    margin-bottom: 1.5rem;

    span {
      display: block;
    }

    .step-title {
      width: 100%;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .step-question {
      width: 100%;
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .options-list {
      display: inline-flex;
      max-width: -webkit-fill-available;
      justify-content: auto;
      justify-content: flex-start;
      overflow-x: auto;
      padding: 1rem 0.5rem;
    }
}
