.attachment-finder-button {
  min-width: 14rem;
  color: #171718;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #171718;
  border-radius: .25rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  transition: all .2s;
  display: block;
  font-size: inherit;
  text-transform: capitalize;
  cursor: pointer;
}

.attachment-finder-button:hover {
  background-color: #ffb93f;
  border: 2px solid #ffb93f;
}

.attachment-finder-button:disabled {
  min-width: 14rem;
  color: #171718;
  text-align: center;
  background-color: #c0c0c0;
  border: 2px solid #171718;
  border-radius: .25rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  transition: all .2s;
  display: block;
  font-size: inherit;
  text-transform: capitalize;
  cursor: auto;
}

